body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  color: #3a3846;
  font-size: 20px;
}


h {
  font-family: 'Quicksand', sans-serif;
}
nav {
  border-bottom: 10px solid #639a88;
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Quicksand', sans-serif;
}

.nav_bar{
  background-color: #FED3BE;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-left: -15px;
}

.nav_bar a{
  display: block;
  color:rgb(0, 38, 66);
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 12px;
}

.nav_bar a::after {
  display: inline-block;
  color: rgb(0, 38, 66);
  content: '';
  font-size: 100%;
  font-weight: bold;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}
.nav_bar {
  display: inline-block;
  display: display;
  width: 100%;
  background-color: rgb(229, 218, 218)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fed3be;
}

li {
    float: left;
}

li a {
  display: block;
  color: #FED3BE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #639A88;
}
header {
  height: 5px;
  background-color: #639a88;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  display: inline;
}

o {
  font-family: 'Montserrat', sans-serif;
}
.wrap {
  float: left;
  margin: 20px;
}

img {
  max-width: 500px;
  float: left;
  padding: 2rem;
}

li:nth-child(2) {
  padding: 2rem;
}
